In [1]:
print("Hello World!")

Hello World!

In [2]:
# Video https://www.youtube.com/watch?v=DkjCaAMBGWM
import sqlite3 as sq
import pandas as pd

In [3]:
db = sq.connect('pokemon.db')
cur = db.cursor()

query = "select * from pokemon;"

df = pd.read_sql_query(query,con=db)

In [4]:
# Visualizzazioni 
pd.set_option('display.max_rows', 100)
df.head(5) #inizio
df.tail(5) #fine
df.sample(5) #campione anche come df.sample(frac=0.1) o df.sample(frac=0.1, random_state=520)
df.columns
df.index

# Per vedere come sono i dati, ci sono una serie di metodi top down
# df.info()  # Sarebbe un describe table con non-null fields e tipo di dato con MEMORY USAGE. df.info(verbose=False) per sintesi
df.describe() # Per ogni campo dà il conteggio, media, devstd, min, max e clustes 25%, 50%, 75%
df[['Name']].describe() # Posso avere descrizione anche di un singolo campo
len(df) # len dice la lungehzza
df.shape # shape mi dice lunghezza e numero colonne

# slicing colonne
df[['Name', 'Total']]  # Lista in parentesi quadre
df[df.columns[:3]] # Le prime tre colonne
df[[c for c in df.columns if c.startswith('Sp.')]]  #MOLTO INTERESSANTE
df.select_dtypes('object') # selezionare solo gli int, float, text (object)

# slicing righe
# si usa iloc (usa gli indici) o loc(usa i nomi)
df.iloc[1,:]
df.iloc[:,[1,3]]
df.loc[:,['Name','Total']]

                      Name  Total
0                Bulbasaur    318
1                  Ivysaur    405
2                 Venusaur    525
3    VenusaurMega Venusaur    625
4               Charmander    309
..                     ...    ...
795                Diancie    600
796    DiancieMega Diancie    700
797    HoopaHoopa Confined    600
798     HoopaHoopa Unbound    680
799              Volcanion    600

[800 rows x 2 columns]

In [ ]:
# Espressioni booleane
# Una delle funzioni più potenti è restituire un boolean da una espressione
df['Name'] == 'Bulbasaur' # Il primo True, gli altri False
df.loc[df['Name'] == 'Bulbasaur'] # Posso usarlo in loc
df.loc[(df['Name'] == 'Bulbasaur') | (df['Name'] == 'Volcanion')] # Posso combinare con & oppure | statment o TILDE per il not

# Query
# Posso usare anche un linguaggio simile a query
print(df.query('(Name.str.contains("saur")) and (Total > 10)'))